<div class="main-card">
  <div class="card-display">
    <mat-card color="secondary">
      <mat-card-header>
        <mat-card-title>
          <h1>List New Property</h1>
        </mat-card-title>
      </mat-card-header>
      <button mat-raised-button color="primary" routerLink="/list">
        List
      </button></mat-card
    >
    <mat-card color="secondary" *ngIf="listings > 0">
      <mat-card-header>
        <mat-card-title>
          <h1>Properties</h1>
        </mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
  <footer>
    <div>
      Icons made by
      <a href="https://www.freepik.com" title="Freepik">Freepik</a> from
      <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    </div>
  </footer>
</div>
