<p>
  <mat-toolbar color="secondary">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <img src="../../assets/house.png" alt="house" height="25" />
    </button>
    <span>Real Estate Chain</span>
    <span class="spacer"></span>
    <button mat-raised-button color="primary">Choose Role</button>
  </mat-toolbar>
</p>
<div class="main-card">
  <div class="card-display">
    <mat-card color="secondary">
      <mat-card-header>
        <mat-card-title>
          <h1>List Property</h1>
        </mat-card-title>
      </mat-card-header>
      <button mat-raised-button color="primary">List</button></mat-card
    >
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h1>Autherise Permit</h1>
        </mat-card-title>
      </mat-card-header>
      <button mat-raised-button color="primary">Autherise</button></mat-card
    >
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h1>Apply for loan</h1>
        </mat-card-title>
      </mat-card-header>
      <button mat-raised-button color="primary">
        Loan Applications
      </button></mat-card
    >
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h1>Approve loan</h1>
        </mat-card-title>
      </mat-card-header>
      <button mat-raised-button color="primary">
        Loan Approvals
      </button></mat-card
    >
  </div>
</div>

<footer>
  <div>
    Icons made by
    <a href="https://www.freepik.com" title="Freepik">Freepik</a> from
    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
  </div>
</footer>
